body {
    font-size: 10pt;
    font-family: Verdana, Geneva, Arial, Helvetica, san-serif;
    color: black;
    line-height: 14pt;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 5pt;
    background-color: rgba(210, 105, 30, 0.315);
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: #8094d6;
}
a:hover, a:active {
    color: #ff9933;
}
img {
    padding: 3pt;
    float: left;
}
article {
    -webkit-column-count: 2;
    -webkit-column-gap: 21px;
    -moz-column-count: 2;
    -moz-column-gap: 21px;
    column-count: 2;
    column-gap: 21px;
    -webkit-column-rule-width: 1px;
    -moz-column-rule-width: 1px;
    column-rule-width: 1px;
    -webkit-column-rule-style: solid;
    -moz-column-rule-style: solid;
    column-rule-style: solid;
    -webkit-column-rule-color: black;
    -moz-column-rule-color:  black;
    column-rule-color:  black;
}

